/* Begin Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Reset */

body {
  font-family: 'Mali', cursive;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 227, 227);
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

h1 {
  font-size: 64px;
}

.etch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(200, 0, 0);
  border: 2.5vw solid rgb(200, 0, 0);
  border-bottom: 10px solid rgb(200, 0, 0);
  border-top: 1px solid rgb(200, 0, 0);
  border-radius: 15px;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 64px;
}

.container {
  display: grid;
  height: 70vw;
  max-height: 600px;
  width: 70vw;
  max-width: 600px;
}

#title {
  margin-top: 32px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
  width: 70vw;
  max-width: 600px;
  height: 25vw;
  max-height: 150px;
  background-color: rgb(200, 0, 0);
}

.control-knobs {
  position: absolute;
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.knob {
  height: 20vw;
  max-height: 140px;
  width: 20vw;
  max-width: 140px;
  border-radius: 100px;
  background-color: rgb(253, 255, 244);
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.cell {
  background-color: rgb(207, 211, 223);
  border: 1px solid black;
}

button {
  min-width: 100px;
  padding: 10px 20px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: lightgrey;
}

.buttons {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.option-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.mode-button {
  background-color: lightblue;
}

.active {
  background-color: darkblue;
  color: white;
}

#branding {
  text-align: center;
  align-self: center;
  font-size: 52px;
  color: rgb(255, 242, 123);
}

#branding > p {
  margin: 16px;
}

.colorpicker-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#colorpicker {
  border: 3px solid black;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}

@media (max-width: 500px) {
  body {
    justify-content: space-around;
  }

  .buttons {
    width: 100%;
    justify-content: space-around;
  }

  .menu-buttons {
    width: 100%;
    margin-top: 16px;
  }

  .menu-buttons > button {
    width: 45%;
  }

  .modes {
    width: 100%;
    font-size: 24px;
  }

  .modes-header {
    margin-bottom: 16px;
  }

  .option-buttons {
    width: 100%;
  }

  .option-buttons > button {
    width: 30%;
  }

  #colorpicker {
    width: 90%;
  }

  .etch {
    width: 95vw;
    border: none;
    margin-bottom: 8px;
  }

  .container {
    width: 90vw;
    height: 90vw;
  }

  .colorpicker-container {
    width: 90%;
  }

  .colorpicker-container > label {
    font-size: 24px;
    margin-bottom: 16px;
  }

  #title {
    display: none;
  }

  #instruction {
    display: none;
  }

  #branding {
    font-size: 32px;
  }
}
